/*==============================
|	|	|	General
================================*/

html,
body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
}

section {
	overflow: hidden;
}

h1.heading {
	color: #fff;
	font-size: 50px;
	line-height: 54px;
	font-weight: 700;
	margin: 0;
	display: inline-block;
}

h2.heading {
	font-size: 34px;
	font-weight: 600;
	line-height: 38px;
	color: #6255a5;
	margin: 0;
	padding: 0;
}

h3.heading {
	font-size: 24px;
	font-weight: 600;
	line-height: 28px;
	color: #6255a5;
	margin: 0;
	padding: 0;
}

p.pera {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	color: #333333;
	margin: 0;
	padding: 0;
}

/*==============================
| | | |	 Content Box
================================*/

.content-box-lg {
	padding: 60px 0;
}


/*==============================
| | | Home Section 
================================*/

#home .img-fluid {
	min-width: 100%;
	height: 620px;
	width: auto;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
}

#home-content {
	width: 100%;
	height: 620px;
	position: absolute;
	top: 0;
	display: table;
	z-index: 2;
}

#home-content-inner {
	display: table-cell;
	vertical-align: middle;
}

#home p.pera {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #fff;
	margin: 8px 0 30px 0;
	display: inline-block;
}

.btn-general {
	border-radius: 3px;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;	
	margin: 0 6px;
	padding: 0;
	padding-top: 10px;
	text-transform: uppercase;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.btn-home {
	color: #fff;
	width: 172px;
	height: 50px;
	border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
	color: #6255a5;
	background-color: #fff;
	border: 1px solid #fff;
}

/*==============================
|	|	|	Navigation Bar
================================*/

header .container-fluid {
	margin: 0 100px;
}
header .container {
	width: auto;
    padding: 0;
}

.navbar {
	margin: 0;
	padding: 30px 0;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	background-color: transparent;
}

ul.navbar-nav > li a{
	font-family: "Open Sans", sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
	margin-left: 30px;
	display: inline-block;
	text-decoration: none;
}
ul.navbar-nav > li a.item {
	margin-top: 12px;
}

ul.navbar-nav > li a.item:hover,
ul.navbar-nav > li a.item:focus {
	background: none;
	color: #6255a5;
	padding-bottom: 5px;
	border-bottom: 3px solid #6255a5;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

ul.navbar-nav > li a.btn {
	
	background-color: #fff;
	color: #6255a5;
	border-radius: 3px;
	border: none;
	width: 89px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	padding: 0;
	margin-left: 30px;
	padding-top: 8px;;
	text-transform: capitalize;
	-webkit-transition: all .5s;
	transition: all .5s;
} 

ul.navbar-nav > li a.btn:focus,
ul.navbar-nav > li a.btn:hover {
	outline: none;
	color: #fff;
	background-color: #6255a5;
}

/* Profiel Dropdown */
.user-img {
        height: 40px;
        width: 40px;
    }
.dropdown-menu {
	padding: 20px 0;
	border: none;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
	z-index: 4;
}

.dropdown a.dropdown-item {
	margin: 0	;
	color: #333333;
	text-transform: capitalize;
	background-color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	padding: 0 50px 0 30px;
} 

.dropdown a.dropdown-item:hover, .dropdown a.dropdown-item:focus {
	margin: 0;
	color: #fff;
	background-color: #6255a5;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.dropdown a.logout-btn {
	color: #6255a5;
	text-transform: uppercase;
	font-weight: 600;
}


/*White Navigation*/

.white-nav-top {
	background: #fff;
	height: 100px;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
	z-index: 4;
}

.white-nav-top ul.navbar-nav > li > a {
	color: #212226;
}

.white-nav-top ul.navbar-nav > li a.btn {
	
	background-color: #6255a5;
	color: #fff;
	font-weight: bold;
}

.white-nav-top ul.navbar-nav > li a.btn:focus,
.white-nav-top ul.navbar-nav > li a.btn:hover {
	outline: none;
	background-color: darkslateblue;
}

.white-nav-top #mobile-nav-open-btn,.white-nav-top #mobile-nav-close-btn {
	color: #6255a5;
}

/*==============================
|	|	|	Mobile Menu
================================*/

#mobile-nav-open-btn {
	font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 6px;
	/*hide mobile nav open btn */
    display: none;
}
#mobile-nav {
	/*by default, mobile nav will be hidden with height 0% */
    height: 0;
    width: 100%;
    top: 10px;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
	display: none;
}
#mobile-nav-close-btn {
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 18px;
    -webkit-transition: .3s;
    transition: .3s;
	display: none;
}
#mobile-nav-content {
    text-align: left;
    width: 100%;
    margin-top: 20px;
    position: relative;
	padding: 0 15px;
}
#mobile-nav-content ul {
    display: block;
}
#mobile-nav ul li {
    margin-bottom: 30px;
}
#mobile-nav ul li a {
    font-size: 14px;
    color: #212226;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
	display: inline;
}

#mobile-nav ul li a.btn {
	background-color: #6255a5;
	color: #fff;
	font-weight: 600;
	height: 40px;
	font-size: 14px;
	line-height: 25px;
	width: 100px;
}

#mobile-nav ul li a.btn:focus,
#mobile-nav ul li a.btn:hover {
	outline: none;
	background-color: darkslateblue;
}

#mobile-nav a:hover,
#mobile-nav a:focus{
	text-decoration: none;
    background: none;
	color: #6255a5;
	padding-bottom: 5px;
	border-bottom: 3px solid #6255a5;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

/*==============================
| | | |	 About
================================*/

#about {
	position: relative;
}

#about-right p:first-child {
	margin-bottom: 50px;
}

/*==============================
|	|	|	 work
================================*/

.work {
	background-color: #f4f4f4;
}

.work h2.heading {
	margin-bottom: 30px;
}

.work-item {
	padding: 30px 0 10px 0;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.work-item .img {
	width: 140px;
	height: 140px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08)
}
.work-item img {
	padding-top: 42px;
}

.work h3.heading {
	margin: 30px auto 20px auto;
}

.work-item p {
	margin-bottom: 30px;
}

.work-item .btn {
	background-color: #6255a5;
	color: #fff;
	border-radius: 3px;
	width: auto;
	height: 50px;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 0 30px;
}

/*Hover State0*/
.work-item:hover {
	background-color: #6255a5;
}

.work-item:hover i,
.work-item:hover h3,
.work-item:hover p {
	color: #fff;
}

.work-item:hover .btn-work {
	color: #6255a5;
	background-color: #fff;
	cursor: pointer;
}

.work-item .btn:focus,
.work-item .btn:hover {
	color: #6255a5;
	background-color: #fff;
	outline: none;
}

.work-item,
.work-item .btn {
	-webkit-transition: all .5s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.work-item h3,
.work-item p {
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear;
}

/*==============================
|	|	|	Client
================================*/

#client .col-md-6 {
	margin: 0;
	padding: 0;
} 

#client {
	background: #fff;
}

#client .content-box-lg {
	padding-bottom: 30px;
}

#client h2.heading{
	margin-bottom: 50px;
}

.client-inner {
	padding: 40px;
	background-color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;
}

.client-inner .row {
	margin-bottom: 30px;
}

.left {
	margin-right: 15px;
}

.right {
	margin-left: 15px;
}

.client-content img {
	margin: 0 20px 0 15px;
}

.client-content .client-name-des {
	margin-top: 20px;
	text-align: left;
}

.client-content h3.heading{
	line-height: 36px;
}

.client-content .client-name-des p.pera {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	color: #333333;
	margin: 0;
	padding: 0;
}

.client-content p.pera {
	line-height: 28px;
}


/*==============================
|	|	|	footer
================================*/

footer .container-fluid{
	width: 1440px;
}

footer .content-box-lg {
	border-top: 2px solid #d1d1d1;
	padding: 40px 0;
}

footer p.pera {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	padding-top: 10px;
}

/* Social Icons */

ul.social-list {
	padding: 0;
	margin: 0;
	float: right;
}

ul.social-list li {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin: auto 5px;
}

ul.social-list li a {
	border: 1px solid #6255a5;
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	background-color: #6255a5;
	border-radius: 50%;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
	text-align: center;
}

ul.social-list li:nth-child(1) a:hover {
	background-color: #3b5998;
	border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
	background-color: #00aced;
	border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
	background-color: #0077b5;
	border-color: transparent;
}



/*==================================================
			Bootstrap 3 Media Queries        
==================================================*/


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    /* Navigation */
	a.navbar-brand img {
		width: 200px;
		height: 30px;
	}
	ul.navbar-nav > li a {
		font-size: 14px;
		margin-left: 20px;
	}
	ul.navbar-nav > li a.btn {
		font-size: 14px;
		margin-left: 20px;
		height: 35px;
		width: 80px;
        padding: 6px;
	}
	
    /* Generic */
    h1.heading {
        font-size: 35px;
    }
	h2.heading {
		font-size: 30px;
	}
	p.pera {
		font-size: 16px;
	}
	
	/*	Heading Content */
	#home .img-fluid {
		height: 450px;
	}
	#home-content {
		height: 450px;
		overflow: hidden;
	}
	#home p.pera {
		font-size: 16px;
	}
	.btn {
		font-size: 16px;
		padding-top: 5px;
	}
	.btn-home {
		width: 120px;
		height: 40px;
	}

}

/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
	/*hide mobile nav open btn */
	#mobile-nav-open-btn {
		display: none;
	}
	
    /* Navigation */
	header .container-fluid {
	margin: 0;
	}
	header .container {
		padding: 0;
	}
	a.navbar-brand img {
		width: 170px;
		height: 30px;
	}
	ul.navbar-nav > li a {
		font-size: 12px;
		margin-left: 10px;
	}
	ul.navbar-nav > li a.btn {
		font-size: 13px;
		margin-left: 10px;
		height: 30px;
		width: 60px;
		padding-top: 3px;
		margin-top: 3px;
	}
	img.user-img {
		height: 35px;
		width: 35px;
		margin-top: 3px;
	}
    
	
    /* Generic */
    h1.heading {
        font-size: 30px;
		line-height: 35px;

    }
	h2.heading {
		font-size: 25px;
	}
	h3.heading {
		font-size: 20px;
	}
	p.pera {
		font-size: 14px;
	}
	
	/*	Heading Content */
	#home .img-fluid {
		height: 400px;
	}
	#home-content {
		height: 400px;
		margin-top: 20px;
	}
	#home p.pera {
		font-size: 16px;
	}
	.btn {
		font-size: 16px;
		padding-top: 5px;
	}
	.btn-home {
		width: 120px;
		height: 40px;
	}
	
	/*About*/
	#about-right p:first-child {
	margin-bottom: 20px;
	}

	/*Work*/
	.work-item .img {
	width: 100px;
	height: 100px;
	}
	.work-item img {
		padding-top: 20px;
	}
	.work-item .btn {
	height: 40px;
	font-size: 16px;
	line-height: 25px;
	padding: 0 15px;
	}
	
	/* Client */
	.client-content img {
		width: 65px;
		height: 65px;
		margin: 0 15px ;
	}
	.client-content .client-name-des {
		margin-top: 10px;
		text-align: center;
	}
	.client-inner {
		padding: 22px;
	}
	.client-content .client-name-des p.pera {
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}
	.client-content .client-name-des h3.heading {
		line-height: 30px;
	}
	.client-content p.pera {
	line-height: 23px;
	}

}


/* Extra Small Devices (Landscap Phones & Portrait Tablets) */

@media (max-width: 767px) {
	
	/* Mobile Menu*/

	/*hide mobile nav open btn */
	#mobile-nav-open-btn {
		display: block;
	}
	#mobile-nav {
		display: block;
	}
	
    /* Navigation */
	header .container-fluid {
		margin: 0;
	}
	header .container{
	margin: 0;
	}
	.navbar {
		padding: 15px 0;
	}
	a.navbar-brand img {
		width: 160px;
		height: 30px;
	}
	.white-nav-top {
		height: auto;
	}
	
    /* Generic */
    h1.heading {
        font-size: 25px;
		line-height: 30px;
    }
	h2.heading {
		font-size: 25px;
	}
	h3.heading {
		font-size: 20px;
	}
	p.pera {
		font-size: 14px;
	}
	
	/*	Heading Content */
	#home .img-fluid {
		height: 350px;
		
	}
	#home-content {
		height: 350px;
		overflow: hidden;
		margin-top: 10px;
	}
	#home p.pera {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.btn {
		font-size: 16px;
		padding-top: 5px;
	}
	.btn-home {
		width: 120px;
		height: 40px;
	}
	
	/*About*/
	
	#about-left h2.heading {
		text-align: center;
	}
	#about-left {
		margin-bottom: 20px;
	}
	#about-right p:first-child {
	margin-bottom: 20px;
	}

	/*Work*/
	.work-item {
		background-color: #fff;
		margin-bottom: 10px;
	}
	.work-item .img {
		width: 80px;
		height: 80px;
	}
	.work-item img {
		padding-top: 10px;
		width: 50px;
		height: 65px;
	}
	.work-item p.right {
		margin-top: 48px;
	}
	.work-item .btn {
		height: 40px;
		font-size: 16px;
		line-height: 25px;
		padding: 0 15px;
	}
	
	/* Client */
	.client-content img {
		width: 65px;
		height: 65px;
	}
	.client-content .client-name-des {
		margin-top: 10px;
		}
	.client-inner {
		padding: 22px;
	}
	.client-content > div.inner-content {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		margin-bottom: 20px;
	}
	.client-content .client-name-des p.pera {
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		margin-left: 15px;
	}
	.client-content .client-name-des h3.heading {
		line-height: 30px;
		margin-left: 15px;
	}
	.client-content p.pera {
	line-height: 23px;
	}
	
	/*Footer*/
	
	.copyright {
		text-align: center;
	}
	.copyright .pera {
		margin-bottom: 10px;
	}
	ul.social-list {
		float: none;
		text-align: center;
	}
	
}

/* Extra Small Devices (Portrait Phones & Smaller Devices) */
@media (max-width: 375px) {
	
	/* Generic */
    h1.heading {
        font-size: 25px;
    }
	h2.heading {
		font-size: 21px;
	}
	h3.heading {
		font-size: 18px;
	}
	p.pera {
		font-size: 13px;
	}
	
	/*	Heading Content */
	#home .img-fluid {
		height: 300px;
		
	}
	#home-content {
		height: 300px;
		overflow: hidden;
		margin-top: 25px;
	}
	#home p.pera {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 10px;
	}
	.btn {
		font-size: 14px;
		padding-top: 2px;
	}
	.btn-home {
		width: 110px;
		height: 30px;
	}
	
    /* Footer */
	ul.social-list li {
	margin: auto 0;
	}
	ul.social-list li a {
		width: 28px;
		height: 28px;
		line-height: 28px;	
	}
}




